.editor-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #282c34;
    padding: 20px;
    box-sizing: border-box;
}
  
.ace_editor {
    width: 100%;
    min-height: 500px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


.editorWrapper {
    margin-top: 20rem;
    padding-bottom: 5rem;
    min-width: 60vw;
}


.modal-custom {
    max-width: 50%;
    width: 50%;
    max-height: 70%;
    height: auto;
    background-color: #8fac51;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-back {
    background-color: #8fac51;
}

.modal-header {
    background-color: #8fac51;
}

.modal-title-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
}

.switchContainer {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
  
.onText {
    color: green; /* Example color for "On" text */
    font-weight: bold; /* Example font weight for "On" text */
  }
  
  .offText {
    color: red; /* Example color for "Off" text */
    font-weight: bold; /* Example font weight for "Off" text */
  }