.container {
    max-width: 100%;
  }
  
  .formContainer {
    width: 70%;
    margin-bottom: 5rem;
  }
  
  .customCard {
    width: 70rem;
    margin-left: 15%;
    margin-right: 15%;
  }
  
  .cardText {
    font-size: 1.3em;
  }
  
  .cardImage {
    width: 30%;
    height: auto;
  }
  
  .cardContent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .responsesContainer {
    width: 65%;
    display: flex;
    flex-direction: column;
  }
  
  .customCheck {
    font-size: 1.5em;
  }
  
  .customCheck input[type="radio"] {
    border: 1px solid #000;
  }
  
  .customButton {
    width: 100%;
    padding: 10px;
    font-size: 1.3em;
  }
  