.container {
  width: 100%;
  margin-top: 20vh;
  height: auto;
}

.formContainer {
  width: 90%; /* updated width */
  box-sizing: border-box;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}

.customCard {
  width: 100%;
  padding: 2.5rem;
  border-radius: 10px;
}

.desc {
  width: 100%;
}


.cardText {
  font-size: 1.2em;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cardImage {
  width: 70%;
  height: auto;
  margin-top: 0.5rem; /* less margin/padding above the image */
  margin-bottom: 1.5rem; /* more margin/padding below the image */
}

.responsesContainer {
  width: 65%;
  display: flex;
  flex-direction: column;
}

.customCheck {
  font-size: 1.5em;
}

.customCheck input[type="radio"] {
  border: 1px solid #000;
}

.customButton {
  width: 10%;
  padding: 10px;
  font-size: 1.3em;
}

/* New to place the Previous, Next, and Submit buttons side by side */
.btn {
  width: 33%;
  height: 100%;
}
