body {
  display: flex;
  margin-top: 5em;
  background-color: fff;
  justify-content: center;
  color: #0d062d;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
