.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 20vh; 
    z-index: 1000; 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #161616;
}

.logo {
    height: 70%; /* Adjust the height as per your preference */
    width: auto; /* Maintains the aspect ratio of the logo */
}

@media (max-width: 768px) {
    .header {
        height: 15vh; /* Reduced header height for smaller devices */
    }
}